<!doctype html>
%html{:lang => "en"} 
%head 
  %meta{:charset => "UTF-8"}/ 
  %title Document
  %link{:rel => "stylesheet", :href => "src/style.css"}/ 
  %script{:src => "libs/jquery/jquery.js"}
  %script{:src => "src/slideshow.js"} 
  %script 
    :plain
      $(function(){
        $('div.slideshow').slideshow();
      });
%body 
  .slideshow
    %ul.slides
      - 4.times do |i|
        %li 
          %img{:src => "src/images/pic#{i+1}.jpg"}/ 
  